body {
    background-color: white;
    }
    h1 {
    color: blue;
    }
    /*for the paragraph line using p as character or you can simply use # with the id */
    p { 
    color: green;
    }
/* after . class name is written */
    .third{
        color:red;
    }

    /*descendant*/
    .main-div h1{
        background-color: yellow;
    }

    /*adjacent*/
    h1+h2{
        background-color: orange;
        color:white;
    }
    /*typography*/
    h1{
        font-family: Arial,Sans-serif;
        font-size: 50px;
        font-weight:100;
        font-style:italic;
    }
    
    p{
        font-family:Arial,Serif;
        font-size:16px;
        color:blueviolet;
    }
    body{
        background-image: linear-gradient(to right, red, blue, green)
    }

<<<<<<< HEAD:.github/style.css
   .container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap ;
   }

. item{
    width:100 px;
    height: 100px;
    background: orangered;
    margin:5px;

}
.item{
    flex-grow:2;
}
.flex-container{
    /* height: 400px; */
    display: flex;
    /* flex-direction: column; */
    background: #f4f4f4;
    /* Always on the main axis start, center, end, space around, space between */
    justify-content: space-between; 
    /* Always on the cross axis */
    align-items: start;
    /* flex-wrap: wrap; */
}
=======
    .container {
        width: 100%;
        height: 500px;
        position: relative;
        background-color: aqua;
        background-color:olive;
        animation-name: change-bg-color;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: 1s;
    }
    
    .animated-image {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        animation-name: move-right;
        animation-duration: 2s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    }
    
    .text-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        opacity: 0;
        animation-name: fade-in;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
    
    }
    
    .animated-text {
        font-size: 36px;
        font-weight: bold;
        color: blue;
    }
    
    @keyframes move-right {
        from {
            left: 0;
        }
    
        to {
            left: 66vw;
        }
    }
    
    @keyframes change-bg-color {
        from {
            background-color: whitesmoke;
        }
    
        to {
            background-color:gray (164, 176, 239, 0.795);
        }
    }
    
    @keyframes fade-in {
        from {
            opacity: 0;
        }
    
        to {
            opacity: 1;
        }
    }
    
>>>>>>> e2fa854 (car):style.css
