body {
    background-color: white;
    }
    h1 {
    color: blue;
    }
    /*for the paragraph line using p as character or you can simply use # with the id */
    p { 
    color: green;
    }
/* after . class name is written */
    .third{
        color:red;
    }

    /*descendant*/
    .main-div h1{
        background-color: yellow;
    }

    /*adjacent*/
    h1+h2{
        background-color: orange;
        color:white;
    }
    /*typography*/
    h1{
        font-family: Arial,Sans-serif;
        font-size: 50px;
        font-weight:100;
        font-style:italic;
    }
    
    p{
        font-family:Arial,Serif;
        font-size:16px;
        color:blueviolet;
    }
    body{
        background-image: linear-gradient(to right, red, blue, green)
    }

   .container{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap ;
   }

. item{
    width:100 px;
    height: 100px;
    background: orangered;
    margin:5px;

}
.item{
    flex-grow:2;
}
.flex-container{
    /* height: 400px; */
    display: flex;
    /* flex-direction: column; */
    background: #f4f4f4;
    /* Always on the main axis start, center, end, space around, space between */
    justify-content: space-between; 
    /* Always on the cross axis */
    align-items: start;
    /* flex-wrap: wrap; */
}